#deepdiveBackground{
    background-color: rgb(95, 49, 49);
}

#ddIntro{
    color:aliceblue;
    margin:0;
    margin-top: 3%;
}

.oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
}

#topFour{
    display:grid;
}
.topFourPoster{
    max-width: 20%;
    height:auto;
}

.filmLeft{
    display:flex;
    margin-bottom: 5%;
}
.filmRight{
    display:flex;
    justify-content: right;
    margin-bottom: 5%;
}
.filmText{
    display:flex;
    flex-direction: column;
}